statemachine/duplication_control.asl.json
{
  "StartAt": "get execution id",
  "States": {
    "get execution id": {
      "Type": "Pass",
      "Parameters": {
        "StateMachineId.$" : "$$.StateMachine.Id",
        "ExecutionName.$" : "$$.Execution.Name"
      },
      "Next": "check running statemachine"
    },
    "check running statemachine": {
      "Type": "Task",
      "Resource": "${LambdaFunction}",
      "Next": "choice"
    },
    "choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.running_flg",
          "BooleanEquals": true,
          "Next": "fail"
        }
      ],
      "Default": "processing"
    },
    "processing": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "succeed"
    },
    "succeed": {
      "Type": "Succeed"
    },
    "fail": {
      "Type": "Fail",
      "Error": "ErrorCode",
      "Cause": "There is a running state machine."
    }
  }
}